<canvas id="my_canvas" width="100px" height="100px"></canvas>
<nav class="nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a href="#main">Home</a></li>
        <li><a href="https://github.com/uryelah/">Projects</a></li>
        <li><a href="https://dev.to/uryelah/">Blog</a></li>
    </ul>
</nav>
<main>
    <div class="scroll">
        <span class="scroll-inner"></span>
    </div>
    <h1><span>S</span><span>a</span><span>r</span><span>a</span><span>h</span> <span>C</span><span>h</span><span>a</span><span>m</span><span>o</span><span>r</span><span>r</span><span>o</span></h1>
    <article id="main">
    <p>Howdy!🌻</p>
    <p>
I'm Sarah, a full-stack developer passionate about crafting creative solutions and webapps with a strong understanding of development.
    <p><small>
I have a thing for math visualization and cellular automata.
Also, I've experience working in agile teams in early stage startups, prototyping and developing a user-dentered product.
    </small></p>
    </p>
    </article>
    <hr>
    <section>
        <h2>Featured projects</h2>
        <div class="featured">
            <article class="featured-project eggo">
              <a class='project-link' href='https://uryelah.github.io/Microverse-603-restaurant-page/#'>
                Lo Eggo
              </a>
              <p class="featured-title">
                A simple tabbed vanila Javascript restaurant page.
              </p>
            </article>
            <article class="featured-project depths">
              <a class='project-link' href='https://uryelah.github.io/from-the-depths/'>
                From the depths...
              </a>
              <p class="featured-title">
                A Phaser3 HTML 5 shooter game.
              </p>
            </article>
            <article class="featured-project weather">
              <a class='project-link' href=' https://uryelah.github.io/Microverse-605-weather-app/'>
                Ghibli weather.
              </a>
              <p class="featured-title">
                A vanila Javascript weather app
              </p>
            </article>
            <article class="featured-project todo">
              <a class='project-link' href='https://github.com/uryelah/Microverse-604-todo-list/blob/development'>
                Uni List
              </a>
              <p class="featured-title">
                A cute localStorage-based todo list
              </p>
            </article>
            <article class="featured-project">
              <a class='project-link' href='https://github.com/uryelah/Microverse-508-Facebook-Clone'>
                Social media site
              </a>
              <p class="featured-title">
                A Ruby on Rails social media webapp
              </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
        </div>
    </section>
</main>
<footer>
<nav class="footer-nav nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a href="sarahchamorro@gmail.com">Send me mail</a></li>
        <li><a href="github.com/uryelah/">Check my github</a></li>
        <li><a href="https://twitter.com/sarah_chamorro">Follow me on twitter</a></li>
        <!--linkedin-->
        <li><a href="https://www.linkedin.com/in/uryelah/">Connect with me on Linkedin</a></li>
    </ul>
</nav>
</footer>