<canvas id="my_canvas" width="100px" height="100px"></canvas>
<nav class="nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="https://hackernoon.com/@uryelah">Blog</a></li>
        <li><a href="#">Archive</a></li>
    </ul>
</nav>
<main>
    <div class="scroll">
        <span class="scroll-inner"></span>
    </div>
    <h1><span>S</span><span>a</span><span>r</span><span>a</span><span>h</span> <span>C</span><span>h</span><span>a</span><span>m</span><span>o</span><span>r</span><span>r</span><span>o</span></h1>
    <article>
    <p>Howdy!🌻</p>
    <p>
I'm Sarah, a computational designer passionate about crafting great user experiences with a strong understanding of development.
    <p><small>
I have a penchant for design tools and design systems.
Also, I've made free website themes, a CSS framework, a icon CDN and a Chrome extension.
    </small></p>
    </p>
    </article>
    <hr>
    <section>
        <h2>Featured projects</h2>
        <div class="featured">
            <article class="featured-project">
                <%= video_tag "IFeelWheel.mp4", class: "feature-video", autoplay: true, loop: true %>
            <p class="featured-title">
            Feel Wheel
            </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
            <article class="featured-project">
            <p class="soon">
            coming soon...
            </p>
            </article>
        </div>
        <button class='more-btn'>View more...</button>
    </section>
</main>
<footer>
<nav class="footer-nav nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a href="sarahchamorro@gmail.com">Send me mail</a></li>
        <li><a href="https://twitter.com/sarah_chamorro">@sarah_chamorro</a></li>
        <li><a href="https://github.com/uryelah"></a></li>
        <!--codepen-->
        <li><a href="https://codepen.io/uryelah"></a></li>
        <!--linkedin-->
        <li><a href="https://www.linkedin.com/in/uryelah/"></a></li>
    </ul>
</nav>
</footer>