// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap');
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

a {
    color: unset;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: calc(100vh + 50px);
}

body * {
    box-sizing: border-box;
}

#my_canvas {
    width: 100%;
    height: 100%;
    background-color: rgb(226, 226, 226);
    z-index: -1;
}

main {
    position: fixed;
    top: 75px;
    left: calc(15%);
    z-index: 10;
    width: 70vw;
    height: calc(100vh - 130px);
    background-color: rgba(241, 244, 247, 0.75);
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    padding-right: 35px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

main article {
    margin-bottom: 5vw;
}

.scroll {
    position: absolute;
    top: 20px;
    right: 5px;
    width: 15px;
    height: 140vh;
    background-color: #e2e2e25c;
    border: 2px solid #e2e2e2ac;
    border-radius: 5px;
    padding: 2px 0;

    .scroll-inner {
        display: inline-block;
        position: sticky;
        top: 0;
        left: 0;
        width: 12px;
        height: 24px;
        border-radius: 5px;
        background-color: white;
    }
}

hr {
    margin: 0 auto;
    width: 25%;
    opacity: 0.5;
    &:hover {
        animation: 0.75s rainbow ease-in infinite running forwards;
    }
}

.nav {
    position: fixed;
    top: 0;
    right: 10px;
}

.footer-nav {
    top: unset;
    bottom: 0;
    left: 10px;
}

.nav #sarah-chamorro:hover {
    .first {
        animation: 0.75s rainbow ease-in infinite running forwards;
    }
    .last {
        animation: 0.75s rainbow ease-in infinite running forwards;
        animation-delay: -0.19s;
    }
}

.nav #sarah-chamorro {
    font-family: 'Beth Ellen', cursive;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.75;
    font-size: 0.85rem;
    cursor: pointer;

    .first {
        transform-origin: center center;
        transform: rotate(-15deg);
        position: absolute;
        top: 5px;
        left: 10px;
        z-index: 1;
        &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: white;
            z-index: -1;
        }
    }

    .last {
        transform-origin: center center;
        transform: rotate(-15deg);
        position: absolute;
        top: 1rem;
        left: 25px;
        z-index: 1;
    }
}

.nav ul {
    display: flex;
    background-color: rgba(241, 244, 247, 0.75);
    padding: 0;

    li {
        font-size: 0.75rem;
        margin: 0 10px;
        list-style: none;

        &:before {
            content: '🏠';
            margin-left: 10px;
            margin-right: 5px; 
            cursor: pointer;
        }

        a {
            opacity: 0.75;
            //animation: 1s rainbow ease-in infinite paused forwards;
            color: black;
            transition: color 0.5s ease-in;
        }

        &:hover a {
            animation: 0.75s rainbow ease-in infinite running forwards;
        }
    }
}


.nav li:nth-child(2):before {
    content: '🏗️';
}

.nav li:nth-child(3):before {
    content: '🤙';
}

.nav li:nth-child(4):before {
    content: '📖';
}

.nav li:nth-child(5):before {
    content: '🔖';
}        

.footer-nav li:nth-child(1):before {
    content: unset;
}

.footer-nav li:nth-child(2):before {
    content: unset;
}

.footer-nav li:nth-child(3):before {
    content: unset;
}

.footer-nav li:nth-child(4):before {
    content: unset;
}

.footer-nav li:nth-child(5):before {
    content: unset;
}

.footer-nav li {
    min-width: 24px;
    a {
        display: inline-block;
        min-width: 20px;
        height: 20px;
        background-repeat: no-repeat;
    }
}

.footer-nav li:nth-child(3) a {
    background-image: image-url("github.svg");
    background-position-y: 5px;
}

.footer-nav li:nth-child(4) a {
    background-image: image-url("codepen.svg");
    background-position-y: 5px;
}

.footer-nav li:nth-child(5) a {
    background-image: image-url("linkedin.svg");
    background-position-y: 5px;
}

h1 {
    color: #e2e2e2;
    filter: drop-shadow(1px 1px 0 pink)
}

h1 span {
    transition: color 0.5s ease-in;
    text-shadow: 1px 1px 0 rgba( 0, 0, 0, .75), -1px 1px 0 rgba( 0, 0, 0, .75);
}

main h2 {
    font-size: 1.25rem;
    font-weight: 100;
    text-shadow: 1px 1px 0 #edeff2, 2px 2px 0 rgb(181, 224, 234);
}

.featured {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    row-gap: 15px;
    column-gap: 10px;
}

.featured-project {
    width: calc(100% - 50px);
    height: calc(200px - 25px);
    background-color: white;
    margin: 0;
    box-sizing: border-box;
    z-index: 10;
    border: 0px solid pink;
    border-image-source: image-url("Iridescent.jpg");
    border-image-slice: 20 22;
    border-image-repeat: round;
    transition: all 0.35s ease-out;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(rgba(204, 204, 204, 0.802)-20%, rgb(223, 223, 223) 80%);
    overflow: hidden;
}

.feature-video {
    position: relative;
    top: 0;
    left: -5vw;
    height: 100%;
}

.soon, .featured-title {
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
    transition: color 0.3s ease-in;
}
.featured-title {
    text-transform: unset;
    letter-spacing: 1rem;
    transition: letter-spacing 0.4s ease-in;
    transition-delay: letter-spacing 0.3s;
}

.featured-project:hover {
    height: 200px;
    width: 100%;
    border: 30px solid pink;
    border-image-source: image-url("Iridescent.jpg");
    border-image-slice: 30 33;
    border-image-repeat: round;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 0.75s rainbowBg ease-in infinite running forwards;

    .soon, .featured-title {
        z-index: 60;
        position: absolute;
        color: #ACECD5;
        text-shadow: 1px 1px 0 #936cf7, -1px 1px 0 #936cf7,3px 3px 1px #c9b3ff;
    }

    .featured-title {
        letter-spacing: 0.3rem;
    }

    .feature-video {
        z-index: 10;
        left: unset;
        margin: 0 auto;
    }
}

@keyframes rainbow {
    14% {
        color: #FF9AA2;
    }
    28% {
        color: #FFB7B2;
    }
    43% {
        color: #FFDAC1;
    }
    57% {
        color: #FFF9AA;
    }
    72% {
        color: #E2F0CB;
    }
    86% {
        color: #B5EAD7;
    }
    100% {
        color: #C7CEEA;
    }
}

@keyframes rainbowBg {
    0% {
        background-image: linear-gradient(rgba(238, 238, 238, 0.558)20%, rgb(211, 248, 136) 150%);
    }
    14% {
        background-color: #FF9AA2;
    }
    28% {
        background-color: #FFB7B2;
    }
    43% {
        background-color: #FFDAC1;
    }
    57% {
        background-color: #FFF9AA;
    }
    72% {
        background-color: #E2F0CB;
    }
    86% {
        background-color: #B5EAD7;
    }
    100% {
        background-color: #C7CEEA;
        background-image: linear-gradient(rgba(238, 238, 238, 0.558)20%, rgb(211, 248, 136) 150%);
    }
}

h1 span:nth-child(2) {
    transition-delay: 0.2s;
}
h1 span:nth-child(3) {
    transition-delay: 0.4s;
}
h1 span:nth-child(4) {
    transition-delay: 0.6s;
}
h1 span:nth-child(5) {
    transition-delay: 0.8s;
}
h1 span:nth-child(6) {
    transition-delay: 1s;
}
h1 span:nth-child(7) {
    transition-delay: 1.2s;
}
h1 span:nth-child(8) {
    transition-delay: 1.4s;
}
h1 span:nth-child(9) {
    transition-delay: 1.6s;
}
h1 span:nth-child(10) {
    transition-delay: 1.8s;
}
h1 span:nth-child(11) {
    transition-delay: 2s;
}
h1 span:nth-child(12) {
    transition-delay: 2.2s;
}
h1 span:nth-child(13) {
    transition-delay: 2.4s;
}

h1:hover span:nth-child(1) {
    color: #FFF9AA;
}
h1:hover span:nth-child(2) {
    color: #FFF9AA;
    transition-delay: 0.1s;
}
h1:hover span:nth-child(3) {
    color: #FFF9AA;
    transition-delay: 0.2s;
}
h1:hover span:nth-child(4) {
    color: #FFF9AA;
    transition-delay: 0.3s;
}
h1:hover span:nth-child(5) {
    color: #FFF9AA;
    transition-delay: 0.4s;
}
h1:hover span:nth-child(6) {
    color: #FFF9AA;
    transition-delay: 0.5s;
}
h1:hover span:nth-child(7) {
    color: #FFF9AA;
    transition-delay: 0.6s;
}
h1:hover span:nth-child(8) {
    color: #FFF9AA;
    transition-delay: 0.7s;
}
h1:hover span:nth-child(9) {
    color: #FFF9AA;
    transition-delay: 0.8s;
}
h1:hover span:nth-child(10) {
    color: #FFF9AA;
    transition-delay: 0.9s;
}
h1:hover span:nth-child(11) {
    color: #FFF9AA;
    transition-delay: 1s;
}
h1:hover span:nth-child(12) {
    color: #FFF9AA;
    transition-delay: 1.1s;
}
h1:hover span:nth-child(13) {
    color: #FFF9AA;
    transition-delay: 1.2s;
}